.App {
  text-align: center;
}
/* header */
.header {
  background: rgb(73, 78, 83);
  color: white;
  top: 0;
  left: 0;
  right: 0;
  min-height: 10vh;
  display: flex;
  justify-content: space-around;
  align-items: center;


}
/* footer */
.footer {
  background: rgb(73, 78, 83);
  color: white;
  padding: 1em;
  margin-top: auto;
  position: absolute;
  bottom: 0;
  width: 100%;
}